<div class="container">
  <div class="wrapper d-flex align-items-center justify-content-center h-100 vh-100">
  <div class="card login-form">
    <div class="card-body">
      <h5 class="card-title text-center">Login Form</h5>
      <form (ngSubmit)="login(username, password)">
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUsername"
            aria-describedby="textlHelp"
            [(ngModel)]="username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div class="sign-up mt-4">
          Don't have an account?
          <a routerLink="/contact-admin">Please contact admin</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
