
<div class="container mt-5">
    <h1 class="text-center mb-4">List Books</h1>
    <a routerLink="/admin/books/new" class="btn btn-primary mt-2 mb-4">Add Book</a>
    <table class="table">
        <caption>List of Books</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">SKU</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th scope="row">{{book.id}}</th>
                <td>{{book.attributes.name}}</td>
                <td>{{book.attributes.sku}}</td>
                <td>
                    <img src="http://localhost:1337{{book.attributes.image.data?.attributes.formats.thumbnail.url}}" alt="" width="100px" height="100px">
                </td>
                <td>{{book.attributes.price | currency:'VND' }}</td>
                <td>
                    <a routerLink="" class="btn btn-primary me-3">Edit</a>
                    <button class="btn btn-danger" (click)="deleteBook(book.id)" data-bs-toggle="modal" data-bs-target="#confirmDeleteUser" data-id="{{book.id}}">Delete</button>
                </td>
        </tbody>
    </table>
    <a routerLink="/admin/dashbroad" class="link">Back to dashbroad</a>
</div>
<router-outlet></router-outlet>
<!-- Modal -->
<div class="modal fade" id="confirmDeleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete this book?</span>
        <input type="hidden" id="id_user_delete" value="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmDelete()" data-bs-dismiss="modal">Confim delete</button>
      </div>
    </div>
  </div>
</div>